@import "common.scss";

.list-container{
  display: flex;
  margin: 0;
  .sidebar{
    background-color: $boundary_primary;
    width: 17%;
    padding: 40px 10px;
    text-align: center;
  }
  .sub-title{
    font-size: 1.3rem;
    padding-bottom: 10px;
  }
  .pagination, .sidebar{
    a{
      color: #000;
      padding: 10px 0 10px;
      font-size: 0.9rem;
      display: block;
    }
    a:hover{
      color: $primary;
      text-decoration: none;
    }
  }
  form{
    padding-top: 10px;
  }
  label[for="search"]{
    font-size: 0.8rem
  }
  input[type="submit"]{
    display: none;
  }
  main{
    width: 83%;
    padding: 20px 3% 50px;
    background-color: #fff;
  }
  .title{
    font-size: 1.7rem;
    text-align: center;
    padding: 20px 0 15px;
  }
  .cards{
    a{
      color: $dark_gray;
      text-decoration: none;
    }
  }
  .grid{
    display: grid;
    gap: 25px;
    grid-template-columns: repeat(4, 1fr);
  }
  .item{
    width: 100%;
    height: 250px;
    margin-top: 20px;
    transition: 0.3s;
    box-shadow: 0 0 1px rgba(0, 0, 0, .2)
  }
  .item:hover{
    transform: translateY(-5px);
    box-shadow: 0 3px 3px rgba(0, 0, 0, .4);
  }
  .image{
    height: 57%;
    position: relative;
  }
  .thumbnail{
    object-fit: cover;
    height: 100%;
  }
  .tag{
    position: absolute;
    top: 15px;
    left: 10px;
    background-color: #FF6347;
    border-radius: 5px;
    padding: 5px 10px;
    font-weight: bold;
    font-size: 1rem;
    color: black;
  }
  .card-body{
    padding: 0.5rem 0.7rem;
  }
  .flex-box{
    display: flex;
  }
  .like{
    color: $primary;
    font-size: 0.75rem;
    width: 37px;
    text-align: right;
  }
  .card-title{
    font-size: 1.1rem;
    margin-bottom: 1px;
    height: 1.1rem;
    overflow: hidden;
    width: calc(100% - 37px);
  }
  .date{
    font-size: 0.7rem;
    color: $dark_gray;
    margin-bottom: 4px;
  }
  .card-text{
    font-size: 0.7rem;
    overflow: hidden;
    height: 48px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
  }
  nav{
    margin-top: 30px;
  }
  .page-item{
    width: 34px;
    text-align: center;
  }
  .active .page-link{
    background-color: $primary;
    border: 1px solid #dee2e6;
  }
  .open{
    display: none;
  }
}
@media screen and (max-width: 480px){
  // ハンバーガーメニュー
  .list-container{
    position: relative;
    main{
      width: 100%;
    }
    #ticketlist-hamburger-menu{
      position: absolute;
      left: -50px;
      z-index: 1;
    }
    .back{
      display: none;
    }
    .sidebar{
      position: absolute;
      left: -60%;
      transition: all 0.3s ease-in-out;
      z-index: 100;
      background-color: #FFEAEA;
      width: 60%;
      min-height: calc(100vh - 70px);
    }
    .open{
      display: block;
      position: absolute;
      left: 20px;
      top: 15px;
      font-size: 1.4rem;
      z-index: 1;
      cursor: pointer;
    }
    #ticketlist-hamburger-menu:checked ~ .sidebar{
      left: 0;
    }
    #ticketlist-hamburger-menu:checked ~ .back{
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0,0,0,.3);
      z-index: 99;
    }
    // メイン画面
    .grid{
      grid-template-columns: repeat(2, 1fr);
      margin: 0 3% 0;
    }
  }

}
