@import "common.scss";

.list-container{
  display: flex;
  margin: 0;
  .sidebar{
    background-color: $boundary_primary;
    width: 17%;
    padding: 40px 10px;
    text-align: center;
  }
  .sub-title{
    font-size: 1.3rem;
  }
  a{
    display: block;
    color: #000;
    padding: 7px;
    font-size: 0.9rem;
  }
  a:hover{
    color: $primary;
  }
  form{
    padding-top: 10px;
  }
  label[for="search"]{
    font-size: 0.8rem
  }
  input[type="submit"]{
    display: none;
  }
  main{
    width: 83%;
    padding: 20px 3% 50px;
    background-color: #fff;
  }
  .title{
    font-size: 1.5rem;
    text-align: center;
    padding: 20px 0 15px;
  }
  .grid{
    display: grid;
    gap: 25px;
    grid-template-columns: repeat(4, 1fr);
  }
  .item{
    width: 100%;
  }
  .thumbnail{
    height: 57%;
    object-fit: cover;
  }
  .card-body{
    padding: 0.5rem;
  }
  .card-title{
    font-size: 1.1rem;
    margin-bottom: 1px;
  }
  .date{
    font-size: 0.7rem;
    color: $dark_gray;
    margin-bottom: 4px;
  }
  .card-text{
    font-size: 0.7rem;
  }
}
