@import "common.scss";

label[for="ticket_thumbnail"]{
  padding-top: 15px;
}
.image-wrapper{
  height: 250px;
  width: 250px;
  background-color: #f8f8f8;
  cursor: pointer;
  text-align: center;
  margin-top: 15px;
}
.image-wrapper .fa-camera{
  padding-top: 100px;
  font-size: 30px;
  color: $dark-gray;
}
.image-wrapper .caption{
  color: $dark-gray;
  font-size: 0.875rem;
  padding-top: 5px;
}
.image-wrapper .thumbnail{
  line-height: 250px;
}
input[type="file"]{
  display: none;
}
label[for="ticket_event_name"]{
  padding-top: 20px;
}
.flex-box{
  display: flex;
  justify-content: space-between;
}
.listing-container .unit-1{
  width: 30%;
}
.listing-container .unit-2{
  width: 65%;
}
// 価格
.price-info .title{
  font-weight: normal;
  font-size: 18px;
}
.price-info .unit{
  display: flex;
  justify-content: space-between;
  padding-top: 5px;
}
.price-info .small-unit{
  width: 50%;
  text-align: right;
}
input[name="ticket[price]"]{
  display: inline;
  width: 95%;
  text-align: right;
  padding-right: 10px;
}
label[for="ticket_price"]{
  padding-top: 7px;
}

hr{
  margin: 45px 0;
}
.listing-container button{
  background-color: #fff000;
  border: none;
  box-shadow: 0 0 2px rgba(0, 0, 0, .4);
  width: 30%;
  margin: 30px auto;
}
.listing-container button:hover{
  background-color: #ffcc00;
  border: none;

}
