<footer>
  <div class="wrapper">
    <ul class="grid">
      <li><a href="#">利用規約</a></li>
      <li><a href="#">お問い合わせ</a></li>
      <li><a href="#">プライバシーポリシー</a></li>
      <li><a href="#">ご利用ガイド</a></li>
      <li><a href="#">特定商取引に基づく表記</a></li>
    </ul>
    <h2>Live Share</h2>
    <p><small>&copy; 2020 Shun Sakai All right reserved.
  </div>
</footer>
