<header class="page-header common-header">
  <h2><a href="/">Live Share</a></h2>
  <nav>
    <ul class="top-nav">
      <li><i class="fas fa-search"></i></li>
      <li><i class="far fa-bell"></i></li>
      <li><i class="far fa-envelope"></i></li>
      <li><i class="fas fa-bars"></i></li>
    </ul>
  </nav>
</header>
