<div class="footer" id="sub-footer">
  <h2 class="app-name">Live Share App</h2>
  <div class="app-link">
    <%= image_tag asset_path("app_store_logo.png", alt: "Apple Storeロゴ") %>
    <%= image_tag asset_path("google-play-badge.png", alt: "google playロゴ") %>
  </div>
  <p>Comming Soon...</p>
</div>
