<div class="footer" id="sub-footer">
  <h2 class="app-name">Live Share App</h2>
  <div class="app-link">
    <img src="assets/app_store_logo.png" alt="Apple Storeロゴ">
    <img src="assets/google-play-badge.png" alt="google playロゴ">
  </div>
  <p>Comming Soon...</p>
</div>
