<%= render partial: 'shared/header' %>

<div class="container">
  <%= form_for(@ticket) do |f| %>
    <div class="wrapper form-group">
      <label>イベントの画像(手もとにない場合は右から選択してください)</label>

      <%= f.label :event_name,  %>

    </div>



  <% end %>
</div>
