$primary: #FFB6B6;
$boundary_primary: rgba(255, 205, 205, .4);
$gray: #8E8E9D;
$white_gray: #F8F8F8;
$boundary_black: rgba(0, 0, 0, .16);
$boundary_white: rgba(255, 255, 255, .16);
$dark_gray: #666666;
$secondary: #c1FFBe;

body{
  font-size: 100%;
  background-color: #f4f4f4;
}
a{
  text-decoration: none;
}
