@import "common.scss";

@keyframes wave{
  0% {
    transform: translate(0,0px);
  }
  100% {
    transform: translate(0,-15px)
  }
}
// フラッシュメッセージ
.flash{
  opacity: 1;
  transition: 2s;
  height: 30px;
  background-color: #FFE8E8;
  text-align: center;
  font-size: 1.1rem;
  color: $dark_gray;
  line-height: 30px;
  position: absolute;
  top: 0;
  width: 100%;
}
.slideUp{
  opacity: 0;
  position: absolute;
  top: -30px;
}
.big-bg{
  background-image: image-url(toppage-bg);
  min-height: 100vh;
  background-size: cover;
  background-position: right 20% center;
}
.home-content{
  text-align: center;
  color: $dark_gray;
  margin-top: 18%;
  .btn{
    display: block;
    margin: 0 auto;
    width: 20%;
    border-radius: 20px;
    height: 45px;
    line-height: 45px;
    padding: 0;
  }
  // 矢印アニメーション
  .fas{
    padding-top: 100px;
    font-size: 4rem;
    animation-name: wave;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-duration: 1.5s;
  }
}
.home-content h1{
  font-family: 'Sriracha', sans-serif;
  font-size: 4.25rem;
  margin-bottom: 0;
}
.home-content p{
  font-size: 1.25rem;
  margin-bottom: 48px;
}

// メイン画面
.main-content{
  background-color: #F4F4F4;
  padding-bottom: 50px;
  .title{
    text-align: center;
    padding: 70px 0 8px;
  }
  .cards{
    margin: 0 4% 0;
    a{
      color: $dark_gray;
    }
  }
  .grid{
    display: grid;
    gap: 50px;
    grid-template-columns: repeat(4, 1fr);
    margin: 0 10% 0;
  }
  .rectangle-wrapper{
    position: relative;
  }
  .rectangle-wrapper:before{
    content: "";
    display: block;
    padding-top: 125%;
  }
  .item{
    width: 100%;
    margin-top: 20px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    transition: 0.3s;
    box-shadow: 0 0 1px rgba(0, 0, 0, .2);
  }
  .item:hover{
    transform: translateY(-5px);
    box-shadow: 0 3px 3px rgba(0, 0, 0, .4);
  }
  .image{
    height: 57%;
    position: relative;
  }
  .thumbnail{
    object-fit: cover;
    height: 100%;
  }
  .tag{
    position: absolute;
    top: 15px;
    left: 10px;
    background-color: #FF6347;
    border-radius: 5px;
    padding: 5px 10px;
    font-weight: bold;
    font-size: 1rem;
    color: black;
  }
  .card-body{
    padding: 0.5rem 0.7rem;
    height: 43%;
  }
  .flex-box{
    display: flex;
  }
  .like{
    color: $primary;
    font-size: 0.75rem;
    width: 37px;
    text-align: right;
  }
  .card-title{
    font-size: 1.1rem;
    margin-bottom: 5px;
    height: 1.1rem;
    overflow: hidden;
    width: calc(100% - 37px);
  }
  .date{
    font-size: 0.7rem;
    color: $dark_gray;
    margin-bottom: 4px;
  }
  .card-text{
    font-size: 0.7rem;
    overflow: hidden;
    // height: calc(100% - 2.3rem - 9px);
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
  }
  .more{
    text-align: center;
    font-size: 1.25rem;
    padding-top: 26px;
    a{
      color: $primary;
      text-decoration: none;
    }
  }
  #popular_ticket_title{
    padding-top: 35px;
  }
}

// 出品ボタン
.listing_button{
  background-color: $primary;
  border-radius: 100%;
  width: 130px;
  height: 130px;
  position: fixed;
  bottom: 50px;
  right: 40px;
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, .2);
  text-align: center;
  color: $dark_gray;
  font-weight: bold;
  font-family: 'Kosugi Maru', sans-serif;
  h3{
    margin: 0;
    font-size: 1.3rem;
  }
  img{
    width: 60px;
    height: 60px;
    margin-top: 20px;
  }
}
.listing_button:hover{
  background-color: #e2a6a6;
  color: $dark_gray;
  text-decoration: none;
}
@media screen and (max-width: 480px){
  .home-content h1{
    font-size: 3.5rem;
  }
  .home-content p{
    font-size: 1.2rem;
    margin: 5%;
  }
  .main-content{
    .grid{
      display: grid;
      gap: 25px;
      grid-template-columns: repeat(2, 1fr);
      margin: 0 5% 0;
    }
  }
  .listing_button{
    width: 110px;
    height: 110px;
    bottom: 40px;
    right: 30px;
    h3{
      font-size: 1.2rem;
    }
    img{
      width: 45px;
      height: 45px;
    }
  }
}
@media screen and (min-width: 481px) and (max-width: 1200px){
  .main-content{
    .grid{
      display: grid;
      gap: 30px;
      grid-template-columns: repeat(4, 1fr);
      margin: 0 5% 0;
    }
  }
  .home-content{
    .btn{
      width: 120px;
    }
  }
}
@media screen and (max-width: 1120px){
  .main-content{
    .card-text{
      -webkit-line-clamp: 3;
    }
  }
}
@media screen and (max-width: 1010px){
  .main-content{
    .card-text{
      -webkit-line-clamp: 2;
    }
  }
}
