@import "common.scss";

.notification-container{
  display: flex;
  .sidebar{
    background-color: $boundary_primary;
    padding: 30px 47px;
    width: 27%;
    a{
      color: #000;
    }
    a:hover{
      color: $primary;
    }
  }
  p{
    padding-top: 20px;
    margin: 0;
  }
  .user-info{
    display: flex;
    align-items: center;
    padding-bottom: 5px;
  }
  .user-name{
    padding-left: 15px;
    font-weight: bold;
  }
}
