@import "common.scss";

.notification-container{
  display: flex;
  .sidebar{
    background-color: $boundary_primary;
    padding: 30px 47px;
    width: 27%;
    min-height: calc(100vh - 70px);
    a{
      color: #000;
    }
    a:hover{
      color: $primary;
      text-decoration: none;
    }
  }
  p{
    padding-top: 20px;
    margin: 0;
  }
  .user-info{
    display: flex;
    align-items: center;
    padding-bottom: 5px;
  }
  .avatar{
    border-radius: 100%;
  }
  .user-name{
    padding-left: 15px;
    font-weight: bold;
  }
  // お知らせ画面
  main{
    width: 73%;
  }
  .notification-wrapper{
    padding: 30px 40px;
    background-color: #fff;
    width: 100%;
    min-height: calc(100vh - 70px);
  }
  h2{
    margin: 0;
    font-size: 1.6rem;
  }
  .date{
    font-size: 0.8rem;
    color: $dark_gray;
    margin: 0;
  }
  .content{
    padding: 10px 0 5px;
    a{
      color: #3aacad;
      font-weight: bold;
    }
    a:hover{
      color: $primary;
      text-decoration: none;
    }
  }
  .info{
    padding: 0 0 5px;
    color: $dark_gray;
    font-size: 0.9rem;
  }
  hr{
    margin: 10px 0 0;
  }
  .note{
    text-align: left;
    font-size: 1.05rem;
    padding-top: 30px;
  }
}
