@import "common.scss";

.message-container{
  display: flex;
  height: calc(100vh - 70px);
  .side-bar{
    background-color: $boundary_primary;
    width: 25%;
    min-height: calc(100vh - 70px);
    a:hover{
      text-decoration: none;
    }
  }
  .user-info{
    display: flex;
    padding: 15px 25px;
  }
  .user-info:hover{
    background-color: #e6e5e0;
  }
  .avatar{
    border-radius: 100%;
    display: block;
  }
  .wrapper{
    background-color: none;
    padding-left: 10px;
  }
  .user-name{
    color: black;
  }
  .last-message{
    font-size: 0.75rem;
    color: $dark_gray;
    overflow: hidden;
    height: 1rem;
  }
  .attention{
    color: $dark_gray;
    padding: 20px 15px;
  }
  // メッセージ画面
  main{
    width: 75%;
    margin: 0 10px 5px;
  }
  .message-wrapper{
    background-color: #89B8ff;
    padding: 0 1% 7px;
    border-radius: 0 0 5px 5px;
    overflow: auto;
    height: calc(100vh - 70px - 32px);
  }
  #messages{
    min-height: 80vh;
  }
  .message{
    display: flex;
    padding: 6px 0 6px;
  }
  .partner{
    height: 2rem;
    line-height: 2rem;
    padding-left: 20px;
    background-color: #11227B;
    color: #fff;
    font-weight: bold;
    border-radius: 5px 5px 0 0;
    border-top: 1px solid #c3c3c3;
    border-right: 1px solid #c3c3c3;
    border-left: 1px solid #c3c3c3;
  }
  .speech-bubble-partner{
    background-color: #fff;
    border-radius: 10px;
    font-size: 0.85rem;
    padding: 10px;
    margin-left: 14px;
    position: relative;
  }
  .speech-bubble-partner:before{
    content: "";
    position: absolute;
    top: 10px;
    right: 100%;
    border-right: 8px solid #FFF;
    border-top: 6px solid transparent;
    border-bottom: 4px solid transparent;
  }
  .speech-bubble-own{
    background-color: #68FF68;
    border-radius: 10px;
    font-size: 0.85rem;
    padding: 10px;
    margin: 0 20px 0 auto;
    position: relative;
  }
  .speech-bubble-own:before{
    content: "";
    position: absolute;
    top: 10px;
    left: 100%;
    border-left: 8px solid #68FF68;
    border-top: 6px solid transparent;
    border-bottom: 4px solid transparent;
  }
  .pagination{
    display: none;
  }
  .message-form{
    position: relative;
  }
  .fa-image{
    position: absolute;
    left: 5px;
    top: 7px;
    font-size: 1.5rem;
    color: $dark_gray
  }
  .form-control{
    margin: 0;
    padding-left: 36px
  }
  .fa-paper-plane{
    position: absolute;
    right: 0;
    font-size: 1.3rem;
    top: 9px;
    right: 7px;
    color: $dark_gray;
  }


}
