@import "common.scss";

.profile-container{
  width: 73%;
  min-height: calc(100vh - 70px);
  .bg-image{
    background-image: image-url(profile-bg);
    background-size: cover;
    height: 300px;
    background-position: center bottom 10%;
  }
  .open{
    display: none;
  }
  .user-info{
    text-align: center;
    position: relative;
    height: 100%;
  }
  img{
    border-radius: 100%;
    margin-top: 37px;
    height: 170px;
    width: 170px;
    cursor: pointer;
    object-fit: cover;
  }
  #preview-alert{
    margin: 0;
    padding-top: 5px;
    color: orangered;
    font-size: 0.9rem;
    font-weight: bold;
  }
  .inner{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background-color: rgba(255, 255, 255, .7);
    height: 60px;
  }
  .user-name{
    font-size: 1.5rem;
    font-weight: bold;
    margin: 4px 0 0 0;
  }
  .listing-number{
    margin: 0;
    font-size: 0.8rem;
  }
  .edit-wrapper{
    padding: 40px 15% 50px;
    background-color: #FFF6F4;
    .error_messages{
      margin-top: 18px;
      .alert{
        margin: 0;
      }
    }
  }
  #file-insert{
    color: $dark_gray;
    cursor: pointer;
    display: inline;
  }
  label[for="user_nickname"]{
    display: block;
    margin-top: 10px;
  }
  #file-insert:hover{
    color: $primary;
  }
  textarea::placeholder{
    color: $dark_gray;
    font-size: 0.9rem;
  }
  .update-btn{
    border-radius: 20px;
    background-color: #fff000;
    border: none;
    box-shadow: 0 0 2px rgba(0, 0, 0, .4);
    height: 40px;
    width: 20%;
    margin-top: 30px;
  }
  .update-btn:hover{
    background-color: #ffcc00;
    border: none;
  }
}
