@import "common.scss";

.profile{
  display: flex;
  background-color: #FFF6F4;
  .sidebar{
    background-color: $boundary_primary;
    padding: 30px 47px;
    width: 27%;
    min-height: calc(100vh - 70px);
    a{
      color: #000;
    }
    a:hover{
      color: $primary;
      text-decoration: none;
    }
    p{
      padding-top: 20px;
      margin: 0;
    }
    .user-info{
      display: flex;
      align-items: center;
      padding-bottom: 5px;
    }
    .avatar{
      border-radius: 100%;
    }
    .user-name{
      padding-left: 15px;
      font-weight: bold;
    }
  }
}

.profile-wrapper{
  padding: 40px 15% 50px;
  background-color: #FFF6F4;
  .heading{
    padding: 0;
    text-align: left;
    font-size: 1rem;
  }
  .text{
    width: 100%;
    padding: 15px 25px;
    background-color: rgba(255, 255, 255, .7);
    border-radius: 10px;
  }
  .placeholder{
    color: $dark_gray;
  }
  .edit-btn{
    border-radius: 20px;
    background-color: #fff000;
    border: none;
    box-shadow: 0 0 2px rgba(0, 0, 0, .4);
    height: 40px;
    width: 20%;
    margin-top: 30px;
  }
  .edit-btn:hover{
    background-color: #ffcc00;
    border: none;
  }
  .message-btn{
    border-radius: 20px;
    background-color: $primary;
    height: 40px;
    width: 30%;
    border: none;
    margin-top: 30px;
    box-shadow: 0 0 2px rgba(0, 0, 0, .4);
    color: $dark_gray;
    padding-top: 8px;
    .fa-envelope{
      margin-right: 5px;
      font-size: 1.2rem;
    }
  }
  .message-btn:hover{
    background-color: #ff9E9E;
  }
}

// ログインしていない場合
.not-login-wrapper{
  background-color: $boundary_primary;
}
// application.scssでusers/editより後に読み込まれているため問題なし
.profile-container{
  min-height: auto;
  margin-bottom: 40px;
}
@media screen and (max-width: 480px){
  .profile{
    position: relative;
    .profile-container{
      width: 100%;
    }
    #mypage-hamburger-menu{
      position: absolute;
      left: -50px;
      z-index: 1;
    }
    .back{
      display: none;
    }
    .sidebar{
      position: absolute;
      left: -60%;
      transition: all 0.3s ease-in-out;
      z-index: 100;
      background-color: #FFEAEA;
      width: 60%;
    }
    .open{
      display: block;
      position: absolute;
      left: 20px;
      top: 15px;
      font-size: 1.4rem;
      z-index: 1;
      cursor: pointer;
    }
    #mypage-hamburger-menu:checked ~ .sidebar{
      left: 0;
    }
    #mypage-hamburger-menu:checked ~ .back{
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0,0,0,.3);
      z-index: 99;
    }
    .edit-btn{
      width: 50%;
    }
  }
}
