@import "common.scss";

// 新規登録画面
.registration-container, .session-container{
  margin-bottom: 70px;
  .wrapper{
    background-color: $boundary_primary;
  }
  .form-group{
    padding: 20px 8% 30px;
  }
}
.heading{
  text-align: center;
  padding: 20px 0 20px
}
.form-control{
  margin-bottom: 15px;
}
.btn{
  width: 40%;
  margin: 0 auto;
  display: block;
  margin: 0 auto;
}
.note{
  font-size: 0.8rem;
  text-align: center;
  padding-top: 25px;
}
.lead{
  font-size: 1.1rem;
  text-align: center;
  padding: 40px 0 10px;
}
#big-login-btn{
  width: 50%;
  padding: 15px 0 15px;
  border: solid 0.5px $dark_gray;
  border-radius: 10px;
}
// エラーメッセージ
.error_messages .alert{
  padding: 0.5rem 1rem;
}

// ログイン画面
#forget_password{
  text-align: center;
  padding-top: 10px;
  display: block;
  color: #000;
}
#forget_password:hover{
  color: $primary;
  text-decoration: none;
}
@media screen and (max-width: 480px){
  #easy-login-session, #easy-login-registration{
    width: 50%;
  }
}
